body {
  background: #ccdbfdfd;
  font-family: "Roboto", sans-serif;
}

a {
  color: #8baefffd;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #dbe5fcfd;
  padding-bottom: 30px;
}

.search-input {
  background-color: #dee7fcfd;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 15px;
  width: 77%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #8baefffd;
  color: white;
  border: none;
  padding: 15px;
  width: 21%;
  line-height: 1;
  border-radius: 5px;
}

main {
  padding: 30px 0;
}

.current-temperature {
  display: flex;
  justify-content: space-between;
  font-size: 48px;
  margin-right: 20px;
  margin-top: 5px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #f65282;
}
.app-icon {
  margin-bottom: 55px;
}
.current-temperature-icon {
  position: relative;
  top: -8px;
  font-size: 40px;
  margin-right: 10px;
}

.temperature-value {
  font-size: 80px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: 12px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
}
.weather-forecast-icon {
  width: 100%;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #dbe5fcfd;
  text-align: center;
  padding-top: 15px;

  color: rgba(39, 33, 66, 0.4);
}
